@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100;200;300;400;500;600;700;800;900&family=Sacramento&display=swap');

/* POP-UPS */
.popup {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(179, 179, 179, 0.205);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    background-color: #fff;
    padding: 6rem;
    border-radius: 2rem;
    border: solid 0.1rem #EB9268;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.popup-content h1 {
    font-family: 'Sacramento', cursive;
    font-weight: 200;
    font-size: 60px;
    color: #EB9268;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.popup-content p {
    text-align: justify;
    font-family: 'Noto Sans Bengali', sans-serif;
    margin-bottom: 1rem;
    color: #EB9268;
}

.popup-content button.close {
    position: relative;
    top: 0%;
    left: 0%;
    margin-top: 2rem;
    margin-left: 28rem;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    transition: color 0.3s;
    color: #EB9268;
}

.popup-content button.close:hover {
    color: #666;
}

/* HOMEPAGE */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Noto Sans Bengali', sans-serif;
    background-color: #F3D982;
}

.title {
    font-family: 'Sacramento', cursive;
    font-weight: 100;
    font-size: 65px;
    text-align: center;
    margin: 0 0 2rem;
    color: #EB9268;
}

.info {
    max-width: 40rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #717171;
}

.buttons {
    display: flex;
    flex-direction: row;
}

button {
    margin: 0 0.5rem;
    padding: .5rem .5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #EB9268;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #F4EBDC;
    color: #EB9268;
}

.icons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1rem;
}

i {
    font-size: 2rem;
    margin: 0 1rem;
    color: #4d4d4d;
}

i:hover {
    color: #666;
}

