.popup-to-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 400px;
    color: #F4EBDC;
    font-family: 'Noto Sans Bengali', sans-serif;
    background-color: #EB9268;
    padding: 4rem;
    border-radius: 2rem;
    border: solid 0.1rem #F4EBDC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.popup-header-todo {
    margin: 0rem;

}